# ここから
https://github.com/github/gitignore/blob/master/Global/macOS.gitignore

# 書き方についてはここ
https://qiita.com/anqooqie/items/110957797b3d5280c44f

# General
.DS_Store
.AppleDouble
.LSOverride
auto-save-list
backups



